<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305398991444-4eg2o1mdnn7v2qot6bldg2s5gkck3v3p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305398991444-4eg2o1mdnn7v2qot6bldg2s5gkck3v3p</string>
	<key>API_KEY</key>
	<string>AIzaSyCRafmaW_TWUFi2XSpei9iA7rEB1M0EOHE</string>
	<key>GCM_SENDER_ID</key>
	<string>305398991444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JohnnyT38.SBChat</string>
	<key>PROJECT_ID</key>
	<string>sbchat-f93ef</string>
	<key>STORAGE_BUCKET</key>
	<string>sbchat-f93ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305398991444:ios:d1bb7b6e40834b1a2b7bc1</string>
</dict>
</plist>